{% extends "base.html" %}
{% block content %}
<h1>Lisää uusi kirja</h1>
<div class="show">
<form method="post" action="{{base_path}}/kirja">
  <div class="form-group">
    <label>Kirjan otsikko</label>
    <input type="text" name="otsikko" class="form-control" value="{{attributes.otsikko}}">
  </div>

  <div class="form-group">
    <label>Kirjoittaja</label>
    <input type="text" name="kirjoittaja" class="form-control" value="{{attributes.kirjoittaja}}">
  </div>

  <div class="form-group">
    <label>ISBN</label>
    <input type="text" name="isbn" class="form-control" value="{{attributes.isbn}}">
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Lisää</button>
  </div>
</form>
</div>
{% endblock %}
