{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
<h1>{{kirja.nimi}}</h1>
<div class="show">
	<ul>
		<li><strong>Otsikko:</strong> {{kirja.otsikko}}</li>
		<br>
		<li><strong>Kirjoittaja:</strong> {{kirja.kirjoittaja}}</li>
		<br>
		<li><strong>ISBN:</strong> {{kirja.isbn}}</li>
	</ul>
</div>
<br>
<a class="btn btn-large btn-danger" data-toggle="confirmation" data-title="Haluatko varmasti poistaa kirjan?"
   href="{{base_path}}/kirja/{{kirja.id}}/destroy" target="_blank">Poista</a>
{{forms.destroy_button("#{base_path}/kirja/#{kirja.id}/destroy")}}
<br>
<br>
<p>
	<a href="{{base_path}}/kirja/{{kirja.id}}/edit" class="btn btn-primary">Muokkaa</a>
</p>
{% endblock %}
