{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
<h1>{{kirja.nimi}}</h1>
<div class="show">
	<ul>
		<li><strong>Otsikko:</strong> {{kirja.otsikko}}</li>
		<br>
		<li><strong>Kirjoittaja:</strong> {{kirja.kirjoittaja}}</li>
		<br>
		<li><strong>ISBN:</strong> {{kirja.isbn}}</li>
	</ul>
</div>
<br>
<button class="btn btn-large btn-danger" data-toggle="confirmation"
        data-btn-ok-label="Kyllä" data-btn-ok-icon="glyphicon glyphicon-share-alt"
        data-btn-ok-class="btn-success"
        data-btn-cancel-label="S" data-btn-cancel-icon="glyphicon glyphicon-ban-circle"
        data-btn-cancel-class="btn-danger"
        data-title="Kirjan poisto" data-content="Haluatko varmasti poistaa kirjan?">
  Poistaa
</button>
{{forms.destroy_button("#{base_path}/kirja/#{kirja.id}/destroy")}}
<br>
<br>
<p>
	<a href="{{base_path}}/kirja/{{kirja.id}}/edit" class="btn btn-primary">Muokkaa</a>
</p>
{% endblock %}
