#main-container{
  max-width: 1200px;
  padding: 10px 25px;
  margin: 0px auto;
}

.navbar .container-fluid{
  max-width: 1200px;
  margin: 0px auto;
}

.badge-info {
  background-color: #3a87ad;
}

.badge-warning {
  background-color: #f89406;
}

.badge-success {
  background-color: #468847;
}
