{% extends "base.html" %}
{% block content %}
<h1>Lisää uusi lukuvinkki</h1>
<div class="show">
<form method="post" action="{{base_path}}/lukuvinkki">
  <div class="form-group">
    <label>Lukuvinkin otsikko</label>
    <input type="text" name="otsikko" class="form-control" value="{{attributes.otsikko}}">
  </div>

  <div class="form-group">
    <label>Tekijä</label>
    <input type="text" name="kirjoittaja" class="form-control" value="{{attributes.kirjoittaja}}">
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Lisää</button>
  </div>
</form>
</div>
{% endblock %}
