{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
<h1>{{lukuvinkki.nimi}}</h1>
<div class="show">
    <ul>
        <li><strong>Otsikko:</strong> {{lukuvinkki.otsikko}}</li>
        <br>
        <li><strong>Tekijä:</strong> {{lukuvinkki.tekija}}</li>
        <br>
        {% if lukuvinkki.isbn %}
        <li><strong>ISBN:</strong> {{lukuvinkki.isbn}}</li>
        <br>
        {% endif %}
        {% if lukuvinkki.url %}
        <li><strong>URL:</strong> {{lukuvinkki.url}}</li>
        <br>
        {% endif %}
        <li><strong>Julkaistu:</strong> {{lukuvinkki.julkaistu}}</li>
        <br>
        {% if user_logged_in %}
        {% if status.status %}
        <li><strong>Luettu:</strong> <span class="badge badge-success">suoritettu</span></li>
        {% else %}
        <li><strong>Luettu:</strong> <span class="badge badge-warning">kesken</span></li>
        {% endif %}
        <br>
        {% endif %}
        <li><strong>Tagit:</strong> 
            {% for tag in tags %}
            <span class="badge">{{tag.tag_nimi}}</span>
            {% endfor %}
        </li>
        <br>
        <li><strong>Kuvaus:</strong> {{lukuvinkki.kuvaus}}</li>
        <br>
    </ul>
</div>
<br>
<p>
    <a href="{{base_path}}/lukuvinkki/{{lukuvinkki.id}}/edit" class="btn btn-primary">Muokkaa</a>
    {{forms.destroy_button("#{base_path}/lukuvinkki/#{lukuvinkki.id}/destroy")}} 
    {% if user_logged_in %}
    <br>
    <form method="post" action="{{base_path}}/lukuvinkki/{{lukuvinkki.id}}/add" style="display: inline-block;">
        <button type="submit" class="btn btn-default">Lisää vinkkeli</button>
    </form>
    {% endif %}
</p>
{% endblock %}
